@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.summary-container {
    padding: 20px;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 60px;
}

.summary-container h2 {
    margin-bottom: 40px; 
    font-weight: bold;
    line-height: 1.5;
}

.summary-container h3 {
    margin-bottom: 20px; 
    font-weight: bold;
    font-size: 1.2rem;
}

.summary-container .main-content {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.summary-container .main-content .charts-section {
    flex: 2;
}

.summary-container .main-content .charts-section .chart-card .card-body,
.summary-container .main-content .totals-section .totals-card .card-body,
.summary-container .bottom-section .budgets-card .card-body,
.summary-container .bottom-section .savings-card .card-body {
    padding: 15px;
}

.summary-container .main-content .charts-section .chart-card .card-body .time-frame-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.summary-container .main-content .charts-section .chart-card .card-body .time-frame-wrapper .time-frame-button,
.summary-container .main-content .charts-section .chart-card .card-body .btn-primary,
.summary-container .main-content .totals-section .totals-card .card-body .btn-primary,
.summary-container .bottom-section .budgets-card .card-body .btn-primary,
.summary-container .bottom-section .savings-card .card-body .btn-primary {
    background-color: #FF6B35 !important;
    border-color: #FF6B35 !important;
    color: white !important;
    padding: 10px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold;
    border-radius: 5px;
    font-size: 100%;
    width: 20% !important;
    align-self: center !important;
}

.summary-container .main-content .charts-section .chart-card .card-body .time-frame-wrapper .time-frame-button:hover,
.summary-container .main-content .charts-section .chart-card .card-body .btn-primary:hover,
.summary-container .main-content .totals-section .totals-card .card-body .btn-primary:hover,
.summary-container .bottom-section .budgets-card .card-body .btn-primary:hover,
.summary-container .bottom-section .savings-card .card-body .btn-primary:hover {
    background-color: #E85D2E !important;
    border-color: #E85D2E !important;
}

.summary-container .main-content .totals-section {
    flex: 1;
}

.summary-container .main-content .charts-section .chart-card .card-body .charts-wrapper {
    display: flex;
    gap: 20px;
}

.summary-container .main-content .charts-section .chart-card .card-body .charts-wrapper .linear-chart,
.summary-container .main-content .charts-section .chart-card .card-body .charts-wrapper .pie-chart {
    flex: 1;
}


.summary-container .main-content .charts-section .chart-card .card-body .charts-wrapper .pie-chart-container {
    width: 80% !important;
}

.summary-container .bottom-section {
    display: flex;
    gap: 20px;
}

.summary-container .bottom-section .budgets-card,
.summary-container .bottom-section .savings-card {
    flex: 1;
    font-weight: bold;
}

.summary-container .card {
    border: 3px dashed #33333341;
    border-radius: 8px;
    height: 100%;
}

.summary-container .card-body {
    display: flex;
    flex-direction: column;
}

.summary-container .main-content .totals-section .totals-card .card-body .total-amount,
.summary-container .main-content .totals-section .totals-card .card-body .total-item,
.summary-container .main-content .totals-section .totals-card .card-body h3 {
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.summary-container .main-content .totals-section .totals-card .card-body .amount-wrapper,
.summary-container .main-content .totals-section .totals-card .card-body .total-amount {
    display: flex;
    justify-content: space-around;
    gap: 70px;
    font-size: 1.2rem;
    border: 1px dashed #33333341;
    align-items: center;
    border-radius: 5px;
}

.summary-container .main-content .totals-section .totals-card .card-body .amount-wrapper,
.summary-container .main-content .totals-section .totals-card .card-body .total-amount {
    height: 3rem;
}

.summary-container .main-content .totals-section .totals-card .card-body .amount-wrapper .btn-primary {
    height: 2.5rem;
    font-size: smaller !important;
}

.summary-container .bottom-section .budgets-card .card-body .budget-item,
.summary-container .bottom-section .savings-card .card-body .savings-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px dashed #33333341;
    height: 3rem;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.summary-container .bottom-section .budgets-card .card-body .budget-amounts,
.summary-container .bottom-section .savings-card .card-body .savings-amounts {
    text-align: right;
}

.summary-container .main-content .totals-section .totals-card .card-body h3,
.summary-container .main-content .totals-section .totals-card .card-body .total-amount {
    text-align: center;
    color: #333;
}

@media (max-width: 768px) {
    .summary-container h2 {
        text-align: center;
        margin-bottom: 3rem !important;
    }
    .summary-container .content-container {
      flex-direction: column;
    }
  
    .summary-container .main-content {
      flex-direction: column;
    }
  
    .summary-container .main-content .charts-section {
      flex: 1;
    }
  
    .summary-container .main-content .totals-section {
      flex: 1;
    }
  
    .summary-container .main-content .charts-section .chart-card .card-body .charts-wrapper {
      flex-direction: column;
    }
  
    .summary-container .main-content .charts-section .chart-card .card-body .charts-wrapper .linear-chart,
    .summary-container .main-content .charts-section .chart-card .card-body .charts-wrapper .pie-chart {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .summary-container .main-content .charts-section .chart-card .card-body .charts-wrapper .pie-chart-container {
      width: 75% !important;
    }
    .summary-container .main-content .charts-section .chart-card .card-body .time-frame-wrapper .time-frame-button {
        min-width: fit-content;
    }
  
    .summary-container .bottom-section {
      flex-direction: column;
    }
}

.greeting {
    background: linear-gradient(to right, #FF6B35, #E85D2E, #FF8C00, #FF4500, #FF6B35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: gradient-animation 3s ease infinite;
    background-size: 200% 200%;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  @media (max-width: 600px) {

    .summary-container h2 {
        font-size: 1.5rem;
    }
    .bottom-section .budgets-card, .bottom-section .savings-card , .totals-card {
        max-width: 100% !important;
    }

    .summary-container .main-content {
        display: flex;
        justify-content: center;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }

    .summary-container h3 {
        font-size: 1rem !important;
    }

    .summary-container .totals-section .totals-card .amount-wrapper,
    .summary-container .bottom-section .budgets-card, 
    .summary-container .bottom-section .savings-card {
        font-size: 0.9rem !important;
    }

    .summary-container .bottom-section .budgets-card .card-body .btn-primary,
    .summary-container .bottom-section .savings-card .card-body .btn-primary,
    .summary-container .totals-section .totals-card .card-body .amount-wrapper .btn-primary {
        font-size: 0.7rem !important;
        width: 25% !important;
    }

    .summary-container .charts-section .time-frame-button {
        font-size: 0.7rem !important;
        padding: 4px 8px;
    }

    .linear-chart, .pie-chart-container {
        max-width: 100%;
    }

    .linear-chart canvas, .pie-chart-container canvas {
        width: 100% !important;
    }

  }
